@import "../../assets/css/vars.scss";
.home {
  border: solid 1px brown;
  background-color: $primary;
  &__container {
    margin: 0 200px;
    padding: 10px;
    &--title {
      border: none;
      text-align: center;
      border-bottom: 2px solid;
      background-color: $bold;
      color: $fonts;
      padding: 10px;
      margin: 10px 0;
      h1 {
        font-size: 30px;
        font-weight: 600;
      }
    }
    &--content {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      flex-wrap: wrap;
    }
    &--consult{
      padding: 0 10px;
      display: flex;
      width: 65%;
     flex-wrap: wrap;
      justify-content: space-between;
    }
    &--calendar{
      display: flex;
      border: 2px solid;
      padding: 0 10px;
    }
  }
}
