@import "../../assets/css/vars.scss";
.home{
    background-color: $primary;
    margin: 0 75px;
    padding: 10px;
&__container{
    &--title{
        border: none;
        border-bottom: 2px solid;
        background-color: $bold;
        color: $fonts;
        padding: 10px;
        margin: 10px 0;
        h1{
            font-size: 30px;
            font-weight: 600;
        }
    }
    &--content{
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
}
}